
body{
  background-image: url('logo/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  z-index: 1;
}


h1 {
  font-size: 40px;
  color: white;
  text-align: center;
}

p {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

button {
  font-size: 20px;
  padding: 20px 40px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 40px;
  cursor: pointer;
}
button :hover{
  background-color: aliceblue;
  color: gray;
}